.main-header {
  padding: 40px 0;

  .main-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-products {
      input {
        border: 1px solid #8080806e;
        padding: 10px 25px;
        font-size: 13px;
        color: #333;

        &:focus {
          outline: 0;
        }
      }
    }

    .user-actions {
      display: flex;

      .hi-customer {
        position: relative;

        div:first-of-type {
          color: #000;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
        }

        span:nth-child(even) {
          font-size: 12px;
          cursor: pointer;
        }

        .or-sperator {
          margin: 0 7px;
        }
        a {
          color: #000;
          font-size: 12px;

          &:hover {
            text-decoration: none;
            color: #e9446e;
          }
        }
      }

      .vertical-line {
        width: 1px;
        background-color: #9e9e9e2b;
        margin: 0 20px;
      }

      .shopping-cart {
        display: flex;
        align-items: center;

        .wishlist {
          margin-right: 20px;

          svg {
            color: #000;
            font-size: 32px;
            transition: 0.2s ease-in-out;

            &:hover {
              color: #e9446e;
            }
          }
        }

        .in-your-cart {
          position: relative;

          #header-shopping-cart {
            cursor: pointer;
            max-width: 30px;
            max-height: 30px;
          }

          img {
            height: 32px;
            width: 32px;
          }

          .product-in-your-cart {
            position: absolute;
            background: #fff;
            top: 50px;
            right: 0;
            z-index: 9999;
            width: 320px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            padding: 20px;

            #product-example-img {
              width: 65px;
              height: 65px;
              margin-right: 10px;
              border: 1px solid #ebebeb;
            }

            .cart-product-details {
              display: flex;
              border-bottom: 1px solid #ebebeb;
              padding: 10px 0;

              .product-details {
                .product-name {
                  color: #000;
                  text-transform: uppercase;
                  font-size: 11px;
                  font-weight: bold;
                  margin-bottom: 5px;
                }

                .product-category {
                  color: #000;
                  font-size: 12px;
                  line-height: 15px;
                  display: block;

                  &:hover {
                    color: #e7040f;
                  }
                }

                .product-qty {
                  font-size: 12px;
                  color: #000;
                  margin-top: 5px;
                }
              }
            }

            #checkout-now {
              background-color: #000;
              color: #fff;
              width: 100%;
              border-radius: 4px;
              padding: 13px 0;
              display: block;
              text-align: center;
              text-transform: uppercase;
              font-size: 12px;
              margin-bottom: 15px;
              transition: all 0.3s ease-in-out;

              &:hover {
                background-color: #e82b1a;
              }
            }

            #view-your-cart {
              display: block;
              width: 100%;
              background: #fff;
              color: #000;
              text-transform: uppercase;
              padding: 10px 0;
              border: 1px solid #cbcbcb;
              font-size: 13px;
              font-weight: 600;
              transition: all 0.4s ease-in-out;
              border-radius: 5px;
              text-align: center;
              margin-bottom: 15px;

              &:hover {
                background-color: #000;
                color: #fff;
              }
            }

            .or-use {
              display: block;
              text-align: center;
              font-size: 12px;
              margin-bottom: 15px;
            }

            .horizantal-line {
              display: block;
              width: 100%;
              height: 1px;
              background-color: #ebebeb;
              margin: 10px 0;
            }
          }
          .cart-products {
            position: absolute;
            top: -14px;
            left: 13px;
            background-color: #e7040f;
            color: #fff;
            border-radius: 50%;
            display: block;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 13px;
          }
          .checkout-with-paypal {
            display: flex;
            justify-content: center;

            img {
              width: 60%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

.limited-time {
  background-color: #e7040f;
  padding: 10px 0;
  text-align: center;
  display: none;

  p {
    color: #fff;
    font-size: 14px;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

@media (min-width: 992px) {
  .mobile-main-header {
    display: none !important;
  }

  .limited-time {
    display: block;
  }
}

@media (max-width: 991px) {
  .main-header {
    display: none !important;
  }
}
