// ============================= Mixins =============================
@mixin customBtn($bg, $color, $fSize, $padding, $transBg, $transColor) {
  background-color: $bg;
  color: $color;
  padding: $padding;
  font-size: $fSize;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  border: none;
  outline: none;

  &:hover {
    background-color: $transBg;
    color: $transColor;
  }
}

.user-registeration-page {
  margin: 60px auto !important;

  h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .input-group {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 700;
        font-family: Arimo, Arial, Helvetica, sans-serif;
        letter-spacing: 0.02em;
        font-size: 12px;
        margin-bottom: 10px;
      }
      input {
        padding: 10px 0;
        border-radius: 3px;
        border: 1px solid #cbcbcb;
        margin-bottom: 10px;
      }
    }

    .row {
      button {
        @include customBtn(#000, #fff, 12px, 15px 20px, #e7040f, #fff);
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 20px;
      }
    }

    .sign-in-form {
      form {
        margin-bottom: 20px;

        button {
          @include customBtn(#000, #fff, 12px, 15px 20px, #e7040f, #fff);
          text-transform: uppercase;
          font-weight: bold;
          margin-top: 20px;
          margin-right: 10px;
          cursor: pointer;
        }

        .btn-group {
          display: flex;

          .google-btn {
            display: flex;
            align-items: center;

            svg {
              font-size: 16px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .user-registeration-page {
    .content-wrapper {
      grid-template-columns: 1fr !important;
    }
  }
}
